<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KodBook Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head> 
<body>
    <nav>
            <a th:href="@{'/users/me'}"><span th:text="${session.username}"></span></a>
            <a href="/home"><i class="fas fa-home"></i> News feed</a>
            <a th:href="@{'/users/me'}"><i class="fas fa-user-circle"></i> My profile</a>
        <a th:href="@{'/posts/new'}" class="create-post-button">
         <i class="fas fa-plus-circle"></i> Create post
        </a>
        
       
        <a href="/logout"><i class="fas fa-sign-out-alt"></i> LOG OUT</a>
    </nav>

    <div class="posts-container">
        <span th:each="post : ${allPosts}">
            <div class="post-card">
                <!-- Profile picture and Username -->
                <div class="post-header">
                    <div class="profile-pic">
                        <img th:if="${post.user.photoBase64}"
                             th:src="'data:image/jpeg;base64,' + ${post.user.photoBase64}"
                             alt="User Photo"/>
                    </div>

                    <a th:href="@{'/users/' + ${post.user.id}}" class="username" th:text="${post.user.username}">Unknown</a>
                    <span class="timestamp" th:text="${#temporals.format(post.timestamp, 'dd/MM/yyyy HH:mm')}"></span>

                    <div th:if="${post.user.username == session.username}" class="post-actions">
                          <a th:href="@{'/posts/' + ${post.id} + '/edit'}" class="edit-button"><i class="fas fa-edit"></i> Edit</a>

                        <a th:href="@{'/posts/delete/' + ${post.id}}" class="delete-button"><i class="fas fa-trash"></i> Delete</a>
                    </div>
                </div>
                
                
                <p class="caption">
                    <span th:text="${post.content}"></span>
                </p>

             <div class="comments-section">
                    <h4>Comments:</h4>
                    <ul>
                          <li th:each="comment : ${post.comments}">
                            <div class="comment-content">
                                <span class="comment-username" th:text="${comment.user.username}"></span>: <span th:text="${comment.message}"></span><a th:if="${comment.user.username == session.username}" th:href="@{'/posts/' + ${post.id} + '/comments/' + ${comment.id} + '/delete'}" class="comment-delete-button"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    </ul>

                </div>

                <div class="comments-container">
                <!-- Comment form -->
                <form th:action="@{'/posts/' + ${post.id} + '/comments'}" method="post" class="comment-form">
                    <textarea name="message" placeholder="Add a comment..." required></textarea>
                    <button type="submit" class="comment-btn"> <i class="fas fa-comment"></i> Comment</button>
                    <button class="like-btn"><i class="fas fa-heart"></i></button>
                </form>
                </div>
            </div>
        </span>
    </div>
</body>
</html>
